<html>
<head>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>


<a th:href="@{/add}"> add </a>
<table class="table"> 

 <thead class="table-dark">
  
  <tr>
  <th>Patiant id</th>
  <th>Patiant name</th>
  <th>Gender</th>
  <th>Age</th>
  </tr>
   
  </thead>
  
  <tbody>
   
   <tr th:each="patientData:${data}">
   
   <td th:text="${patientData.P_no}"></td>
   <td th:text="${patientData.P_name}"></td>
   <td th:text="${patientData.Gender}"></td>
    <td th:text="${patientData.age}"></td>
   </tr>
  </tbody>
</table>


</body>

</html>