<html xmlns:th="http://www.thymeleaf.org">

<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>

<a th:href="@{/add}"> add dish</a>
<table class="table">
  <thead>
    <tr>
      <th >menu_no</th>
      <th >diseName</th>
      <th >Price</th>
      <th >Action</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="hOb:${h_obj}">
      <td th:text="${hOb.meno_no}"></td>
      <td th:text="${hOb.dishName}"></td>
      <td th:text="${hOb.price}"></td>
     
     <td >
     
     <a th:href="@{update/{id}(id=${hOb.meno_no}) }" >
     <button>
     update
     </button>
     </a>
     
      <a th:href="@{delete/{id}(id=${hOb.meno_no}) }" >
     <button>
     Delete
     </button>
     </a>
     </td>
    </tr>
   
    
  </tbody>
</table>

</body>

</html>