div{
    background-color: aqua;
    width: 100px;
    height: 100px;
    transition-duration: 3s;
    /* transition-property: all; */
   /* transition-timing-function: ease-in; */
   /* transition-delay: 2s; */
   color: red;

}

.square:hover{
    background-color: blueviolet;
    /* width: 150px; */
     
    transform: scalex(2); 
} 