.box{
    width: 150px;
    height: 150px;
    background-color: aqua;
    animation-name: box;
    animation-duration: 3s;
  position: relative;
}
@keyframes box{


    100%{
        background-color: blue;
        width: 200px;
        height: 250px;


        top: 20px;
        left: 50px;
    }
}