h1::first-letter{   
       /* eleemnt*/
   
    color: red;
}

a:link{
    color: red;
    
}
a:visited{
    color: rgb(251, 255, 0);
   
}
a:hover{
    color: black;
   background-color: aqua;

}
a:focus{     /*for tab*/
    color: rgb(200, 255, 0);
    font-size: 20px;
}
a:active{    /* for click*/

    color: blue;
    font-size: 200px;
}


h1{
 /*border: 2px dotted red;*/
 
 border-width: 20px;
 border-color: aqua;
 border-style: dotted;

}
p{
    border: 4px solid red;
    width: 300px;
    height: 200px;
    overflow: scroll;
    padding: auto;
    margin: 30px;
    box-shadow: 20px 10px 20px rgb(26, 255, 0),
    -2px -10px 20px rgb(26, 255, 0);

    




}
div{
    border: 3px solid black;
    
}

