
.flex-item{

    color: rgb(255, 255, 255);
    text-align: center;
    width: 70px;
    
 
  
}

.box-1{ background-color: rgb(255, 145, 0);}
.box-2{background: #000;}
.box-3{background: red;}
.box-4{background-color: aqua;}
.box-5{background-color: aquamarine;}
.box-6{background-color: bisque;}
.box-7{background-color: blue;}
.box-8{background-color: brown;}
.box-9{background-color: chartreuse;}

.container{
    border: 2px solid black;
    display: flex; 
   height: 50px;
    /* flex-wrap: wrap; */
   
    /* flex-direction: row;
    flex-direction: row-reverse; 
    flex-direction: column;
    flex-direction: column-reverse; */
   
   
    /* justify-content: space-between;
    justify-content: end; */
    /* height: 600px;
    align-content: start; */
    /* height: 200px;
    align-items: center; */
    
 }


 /*
 .flex-item{
    flex-grow: 1;  } all box share the spcae */
/*
 .box-1{
    flex-grow: 2; } /* box1 only occupy the spaces */

    .box-1{
        /* align-self: center; */
         /* flex-grow: 1; */
         /* flex-shrink: 2; */
        
        
    }


 
 