.continer{
    border: 2px solid red;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    
}
   
    
  
.main{
    border: 1px solid black;
    width: 40px;
    height: 40px;
    flex-grow: 2;
    
}
.box1{
    background-color: aqua;

}
.box2{
 background-color: aquamarine;
}
.box3{
    background-color: blueviolet;
}
.box4{
    background-color: chartreuse;
    align-self: self-start;
}