#p1{
    background-color: aqua;
  flex: 1;
  order: 3;
}

#p2{
    background-color: blue;
    flex: 2;
    order: 1;
}

#p3{
    background-color: aquamarine;
    flex: 3;
    order: 2;
}
.container{
    display: flex;
}


.container1{
    background-color: aqua;
    border: 1px solid red;
    height: 300px;
    display: flex;
     /* justify-content: end;  */
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}
.box{
    /* display: flex; */
    background-color: rgb(204, 255, 0);
    border: 1px solid rgb(255, 255, 255);
    width: 100px;
    height: 100px;
    flex-grow: 2;
    /* flex: 1 2 0px; */
}
