/* body{
    background-color: aqua;
}
.para{
    background-color: rgb(253, 246, 237);
    
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
     column-gap: 10px;
     row-gap: 20px;    
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr ;
    text-align: center;
    grid-auto-flow: column;
} */

.layout div{
    border: 2px solid black;
    background-color: red;
    
}