
/* .box-1{ background-color: rgb(255, 145, 0);}
.box-2{background: #000;}
.box-3{background: red;}
.box-4{background-color: aqua;}
.box-5{background-color: aquamarine;}
.box-6{background-color: bisque;}
.box-7{background-color: blue;}
.box-8{background-color: brown;}
.box-9{background-color: chartreuse;} */

/* .grid-item{
 
 text-align: center;
 color: rgb(0, 0, 0);
} */

/* .container{
    border: 1px solid rgb(0, 0, 0); 
    height: 400px;
} */


/*---------------------------------*/


/* .container{
    display: grid;
   
 grid-template-columns: 100px 100px 100px ; */

 /* grid-template-columns: repeat(4,200px); */
 /* grid-template-columns: 1fr 2fr 1fr 2fr;
} */

.container{
     /* grid-template-rows: 100px 100px 100px;  */
   /* grid-template-rows: repeat(2,100px); */
}

.container{
    /* column-gap: 20px; */
    /* row-gap: 20px; */
}

.container{
   
    /* justify-items: start;
    align-items: center; */
}

.container{
    /* place-items: start center; */
    /* place-items: center;
 */
}

.container{
    /* justify-content: center; */
     /* align-content: center;  */
     /* justify-content: space-between; */
     /* align-content: space-between; */
}

.box-1{
    /* grid-column-start: 1;
    grid-column-end: 3; */

     /* grid-column: span 2;
  
    grid-row: span 2; */

}

.box-4{
    /* justify-self: center; */

    /* align-self: start; */
}




/* ------grid template area----- */

div{
    background-color: aqua;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    text-align: center;
    
}

.layout{
 display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 4fr 1fr ;
height: 500px;
  grid-template-areas: 
  "h h h "
  "na m sb"
  "f f f"
  ;
}

.hed{

    grid-area: h;
}
.nav{

    grid-area: na;
}
.con{
    grid-area: m;
}
.side{
    grid-area: sb;
}
.fot{
    grid-area: f;
}









