
.navbar{
    background-color: rgb(255, 21, 0);

}


#navbar .cat .dropdown-item {
   
    color: rgb(0, 0, 0); /* Text color for dropdown items */
}


.card{
    margin-top: 20px;
    width: 90%;
    border: 2px solid aqua;
  
}

a{
    text-decoration: none;
}
body{
    background-color: rgb(255, 255, 255);
}




.Order{
    position: relative;
  
}

.bookTitle{
    text-align: center;
}



