*{
 
    margin: auto;
}

#org{

background-color: #FF671F;
height: 40px;
width: 200px;
}

#white{
  
    text-align: center;
    background-color: white  ;
    height: 40px;
    width: 200px;
    }
    #green{
        
        
        background-color: #046A38;
        height: 40px;
        width: 200px;
        }
       
    