li{
   /* display: inline;   */          /* to list in inline */
   /* padding: 20px; */
    /*list-style: square;      /* change the list style */

   /* list-style: inside ; */        
   list-style: outside ;     
}
a{
    display: block; /* or display: block; */
  text-align: center;
    

    

}

#hide{

    /* data will not show but datas are in html */


    display: none;     /* to hide the list it will not give space */ 
     /* visibility: hidden;       it also to hide but i will give some space*/
}