li{
    display: inline;   /* its make the list inline */
  padding: 20px;       
  background-color: aquamarine;
  margin: 30px;
}
    
  a{
    display: block;   /*its is help tp parallel */
  }
  
  
    
