.blue{
    background-color: blue;
    height: 200px;
    width: 200px;
    text-align: center;
    color: aliceblue;
    position: relative;
   
}
.yellow{

    background-color: rgb(0, 0, 0);
    height: 60px;
    width: 60px;
   position: relative;
   color: rgb(0, 255, 217);
   
  
  
  /* it move from natural or static position */
}
#absol{
    background-color: rgb(255, 255, 0);
    color: black;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0px;
    

    /* the aboslute will see the non static positon it will move form the non statc border */

}
#fix{
    background-color: aqua;
    width: 70px;
    height: 50px;
    position: fixed;
    bottom: 0px;
    /* it will fix when ever we scroll that blcok will not move */
}
#stick{
    background-color: aqua;
    position: sticky;
    top: 0px;

    /* its same as if fixed but when we scroll the screen it gone this posttion i will be fixed */
}