



tr,td,th{
    border: 1px solid rgb(237, 0, 0);
   
}
th{
    color: rgb(0, 0, 0);
    background-color: rgb(130, 228, 250);
    text-shadow: 2px 2px 5px rgba(127, 242, 158, 0.473);

}
td{
    color: rgb(0, 0, 0);
    background-color: rgb(215, 213, 213);
}
