.box{
    width: 150px;
    height: 150px;
    background-color: darkgrey;
    margin:  auto;
    transition-duration: 20s;
    /* transition-delay: 2s; */
    /* transition-property: width height; */
   /* transition-timing-function:ease-in ;   */

}

.box:hover{
    background-color: chartreuse;
    /* width: 200px;
    height: 200px;  */
    /* transform: rotate(2000deg ); */
    /* transform: translatex(150px); */  /* this for x asix */
    transform: translatey(50px);
    
   
}