
.OrderDetails{
  /* background-color: bisque; */
  font-family: 'Times New Roman', Times, serif;


}
.image{
  width: 220px;
  position: relative;
  left: 80px;
  padding: 10px;
  border: 2px solid rgb(0, 0, 0);
} 

.header{
  text-align: center;
}

.navbar {
  /* position: sticky; */
  top: 0;
  box-shadow: 5px 5px 20px rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  border: 2px solid aqua;
  box-shadow: 10px 10px 30px rgb(84, 84, 84);
  
}
.back{
  color: rgb(196, 196, 196);
  
 }

 .heart{
  /* margin-top: 10px; */
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;
  right: 20px;
  color: aliceblue;
}


.myorders{
  color: white;
} 

.heart1{
  color: rgb(255, 0, 43);
  font-size: 18px;
 position: relative;
  top: 1px;
}

.user{
  color: aliceblue;
  margin-right: 20px;
}

h3{
  padding: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

body{
  background: rgb(245,135,255);
background: -moz-radial-gradient(circle, rgba(255, 255, 255, 0.675) 0%, rgba(164,255,240,1) 82%);
background: -webkit-radial-gradient(circle, rgba(255, 255, 255, 0.675) 0%, rgba(164,255,240,1) 82%);
background: radial-gradient(circle, rgba(219, 214, 214, 0.675) 0%, rgb(212, 255, 250) 82%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f587ff",endColorstr="#a4fff0",GradientType=1);
}

.orginalPrice{
  position: relative;
  left: 58px;
}

.orginalPrice1{
 
  position: relative;
  left: 32px;
}

.total{
  position: relative;
  left: 58px;
}

hr{
  width: 190px;
  color: rgb(0, 149, 255);
 
}

.placeorder{
  width: 300px;
  background-color: red;
  font-size: 20px;
  border: 4px solid white;
}

:hover.placeorder{
  background-color: rgb(253, 65, 65);
}