<html xmlns:th="http://www.thymeleaf.org" >

<head>

 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>


<a th:href="@{/add}"> add books </a>

<table class="table"> 

 <thead class="table-dark">
   
   <tr>
   
   <th> Book name</th>
   <th> Author Name</th>
   <th> Quantity</th>
   <th> Quantity per unit</th>
   <th>Action</th>
   </tr>
   
  </thead>
  
  <tr th:each="libar:${lib}">   
   <td th:text=${libar.book_name}></td>
    <td th:text=${libar.author}></td>
     <td th:text=${libar.qty}></td> 
      <td th:text=${libar.price_qty}></td>
      <td> 
      <a th:href="@{/update/{id}  (id= ${libar.s_no})}"> update</a>
       <a th:href="@{/delete/{id}  (id= ${libar.s_no})}"> delete</a>
      </td>
  </tr>
  
  <tbody>
   
  </tbody>
</table>


</body>


</html>