.moniImg img {
    position: relative;
    left: 200px;
    width: 350px;
  

}



.role {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 105, 67);
    
}

.name {
    position: relative;
    top: 100px;
    font-size: 70px;
    
}
.java {
    color: rgb(97, 97, 97);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    left: 40px;
    font-size: 30px;
}

.navbar-nav {
    margin: 0 auto;
    align-items: center;
    font-size: 20px;
    font-family: serif;
}
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000; 
}


                                    /* skills page */

.skillcon{
    margin-left: 150px;
   
}               

.skills{
    color: aliceblue;
}

 

.html {
    width: 130px;
    position: relative;
    top: 50px;
}

.css{
    width: 130px;
    position: relative;
    top: 50px;
}

.js{
    width: 95px;
    position: relative;
    top: 50px;
}


.javaim {
    width: 200px;
    position: relative;
    left: -40px;
    
}


.bootstrap {
    width: 230px;
    position: relative;
 top: 15px;
    right: 100px;
}

.spring {
    width: 300px;
    position: relative;
    right: 95px;
    top: 26px;
}

.git {
    position: relative;
    left: 45px;
    top: 25px;
    width: 130px;
}

.psql {
    width: 150px;
    position: relative;
    top: 20px;
    right: 10px;
}




/* --------------------------projects-------------------- */

.project {
   
    width: 100%;
    height: 340px;
    margin-top: 100px;
    padding: 50px 0;
}

.project .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project .col-xs-6 {
    text-align: center;
}

.project a {
    display: block;
    padding: 15px;
    text-decoration: none;
    background-color:rgb(255, 105, 67);
    color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    opacity: 100;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s, background-color 0.3s;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.project a.in-view {
    opacity: 1;
    transform: translateY(0);
}

.project a:hover {
    background-color: #ff2600;
    transform: scale(1.05);
    transition: background-color 0.3s, transform 0.3s;
}

.project div{
    margin: 10px;
}

.project .container{
    /* background-color: #ffffff; */
    position: relative;
    top: 50px;
    left: 50px;
}


/* about */


.about{
    width: 100%;
    height: 600px;
    margin-top: 100px;
    
}

footer {
    background-color: #ffffff;
    color: #fff;
    text-align: center;
    padding: 30px;
    position: relative;
    width: 100%;
   top: 60px;
}


.aboutP{
    margin-top: 200px;

}
.aboutPa {
    position: relative;
    bottom: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600; 
    text-align: justify;
}


.gimage{
    width: 400px;
   position: relative;
   left: 200px;
   top: 30px;
}




.gitf{
    color: rgb(88, 88, 88);
    
}

.wordpessf{
    color: rgb(0, 183, 255);
}

.linkedin{
    color: blue;
}

.leetcode{
    width: 100px;
    position: relative;
    bottom: 20px;
}


@media only screen and (max-width: 480px) {
    .javaim{
        position: relative;
        left: 60px;
        top: -430px;
        width: 200px;
    }

    .moni_img{
        width: -150px;
    }
    .html{
        position: relative;
        right: 100px;
    }

    .css{
        position: relative;
         left: 100px;
        top: -80px;
    }

    .js{
        position: relative;
        left: 300px;
        top: -220px;
    }

    .bootstrap{
        position: relative;
        left: -150px;
        top: -200px;
    }

    .spring{
        position: relative;
        right: -190px;
        top: -620px;
    }

    .psql{
        position: relative;
        top: -280px;
    }
    .git{
        position: relative;
        top: -280px;
    }

.project{
    position: relative;
    top: -600px;
}

.about{
    position: relative;
    top: -600px;
}
.aboutP{
    position: relative;
    left: 50px;
}
.gimage{
    width: 300px;
    position: relative;
    right: 50px;
}

.foti{
    margin: 30px;
}
}




