<html xmlns:th="http://www.thymeleaf.org">

<head>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
crossorigin="anonymous">
</head>

<body>

<a th:href="@{/add}">add </a>
<table class="table">
  <thead>

  <tr>
  <th>S.No</th>
  <th>Name</th>
  <th>Gender</th>
  <th>age</th>
  <th>Action</th>
  </tr>
  
  </thead>
  <tbody>
    
    <tr th:each="frnd:${frnd_obj}">
    
    <td th:text="${frnd.f_No}"></td>
    <td th:text="${frnd.name}"></td>
    <td th:text="${frnd.gender}"></td>
    <td th:text="${frnd.age}"></td>
    
   <td>
   <a th:href="@{update/{id} (id=${frnd.f_No} )}">
   <button>
   update
   </button>
   </a>
   
   <a th:href="@{delete/{id} (id=${frnd.f_No} )}">
   <button>
   delete
   </button>
   </a>
  
    </tr>
    
  </tbody>
</table>

</body>



</html>